<a href="https://colab.research.google.com/github/iesous-kurios/powerBi/blob/master/PowerBI_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [33]:
#@title
# import libraries which provide math functions to our data imports
import statistics
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import datetime
from datetime import date, timedelta
import matplotlib.pyplot as plt
import matplotlib
from matplotlib import style

sns.__version__

'0.10.1'

In [34]:
pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\jwyli\anaconda3\envs\lambda2\lib\site-packages (3.0.3)
Requirement already satisfied: jdcal in c:\users\jwyli\anaconda3\envs\lambda2\lib\site-packages (from openpyxl) (1.4.1)
Requirement already satisfied: et-xmlfile in c:\users\jwyli\anaconda3\envs\lambda2\lib\site-packages (from openpyxl) (1.0.1)
Note: you may need to restart the kernel to use updated packages.

In [108]:
#@title
# import weekly data from yearly FPS folder

df = pd.read_excel('G:\My Drive\FPData\old2019\old_2019 OD Data.xlsx', sheet_name=1)
#df = pd.read_excel ('~/environments/fp_env/family_promise_data/data/ClientTrackExport (5).xlsx')

In [109]:
df.head()

,2.1 Organization Name,2.2 Project Name,2.4 ProjectType,2.5 Utilization Tracking Method (Invalid),2.6 Federal Grant Programs,Enrollment Created By,3.1 FirstName,3.1 LastName,5.8 Personal ID,5.9 Household ID,...,4.2.13k Retirement (Social Security),4.2.14l Pension from a Former Job,4.2.15m Child Support,4.2.16n Alimony,4.2.17o Other Income,Chronic Homeless Status_vHMISDatAssessment,Chronic Homeless Status_EvaluatevHMIS&HMISDA,Email,HomePhone,WorkPhone
0,Family Promise of Spokane,FPS--ES--Open Doors,Emergency shelter,Night-by-Night (nbn),NaN,Serena Graves,Anonymous,Anonymous71333,71333,101912,...,0,0,0.0,0,0,0,0,NaN,NaN,NaN
1,Family Promise of Spokane,FPS--ES--Open Doors,Emergency shelter,Night-by-Night (nbn),NaN,Serena Graves,Anonymous,Anonymous71336,71336,101912,...,0,0,0.0,0,0,0,0,NaN,NaN,NaN
2,Family Promise of Spokane,FPS--ES--Open Doors,Emergency shelter,Night-by-Night (nbn),NaN,Serena Graves,Anonymous,Anonymous71337,71337,101912,...,0,0,0.0,0,0,0,0,NaN,NaN,NaN
3,Family Promise of Spokane,FPS--ES--Open Doors,Emergency shelter,Night-by-Night (nbn),NaN,Serena Graves,Anonymous,Anonymous71338,71338,101912,...,0,0,0.0,0,0,0,0,NaN,NaN,NaN
4,Family Promise of Spokane,FPS--ES--Open Doors,Emergency shelter,Night-by-Night (nbn),NaN,Serena Graves,Anonymous,Anonymous84602,84602,101912,...,0,0,0.0,0,0,0,0,NaN,NaN,NaN

In [110]:
for col in df:
    print(col)

2.1 Organization Name
2.2 Project Name
2.4 ProjectType
2.5 Utilization Tracking Method (Invalid)
2.6 Federal Grant Programs
Enrollment Created By
3.1 FirstName
3.1 LastName
5.8 Personal ID
5.9 Household ID
3.15 Relationship to HoH
3.16 Client Location
CaseMembers
3.10 Enroll Date
3.11 Exit Date
3.12 Exit Destination
3.2 SocSecNo
3.2 Social Security Quality
3.3 Birthdate
3.3 Birthdate Quality
Age at Enrollment
Current Age
3.4 Race
3.5 Ethnicity
3.6 Gender
3.7 Veteran Status
3.8 Disabling Condition at Entry
3.917 Living Situation
3.917b Stayed Less Than 7 Nights
3.917 Stayed Less Than 90 Days
3.917b Stayed in Streets, ES or SH Night Before
3.917 Length of Stay
3.917 Homeless Start Date
Length of Time Homeless (3.917 Approximate Start)
3.917 Times Homeless Last 3 Years
3.917 Total Months Homeless Last 3 Years
V5 Last Permanent Address
V5 Prior Address
V5 State
V5 Zip
Municipality (City or County)
Days Enrolled in Project
RRH In Permanent Housing
RRH Date Of Move-In
Days Enrolled Until RRH Date of Move-in
4.1 Housing Status
4.4 Covered by Health Insurance
4.11 Domestic Violence
4.11 Domestic Violence - Currently Fleeing DV?
4.11 Domestic Violence - When it Occurred
4.13 Engagement Date
Days Enrolled Until Engagement Date
4.24 Current Status (Retired Data Element)
4.24 In School (Retired Data Element)
4.24 Connected to McKinney Vento Liason (Retired)
Household Type
Latitude
Longitude
R1 Referral Source
R2 Date Status Determined
R2 Enroll Status
R2 Runaway Youth
R2 Reason Why No Services Funded
R3 Sexual Orientation
R4 Last Grade Completed
R5 School Status
R6 Employed Status
R6 Why Not Employed
R6 Type of Employment
R6 Looking for Work
R7 General Health Status
R8 Dental Health Status
R9 Mental Health Status
R10 Pregnancy Status
R10 Pregnancy Due Date
Client Record Restricted
InfoReleaseNo
Information Release Status
4.12 Contact Services
Date of Last Contact (Beta)
Date of First Contact (Beta)
Count of Bed Nights (Housing Check-ins)
Date of Last ES Stay (Beta)
Date of First ES Stay (Beta)
4.2 Income Total at Entry
4.02 Total Income at Annual Update
4.2 Income Total at Exit
4.3 Non-Cash Benefit Count
4.3 Non-Cash Benefit Count at Exit
CurrentDate
Barrier Count at Entry
Chronic Homeless Status
ProgramType
SOAR Eligibility Determination (Most Recent)
SOAR Enrollment Determination (Most Recent)
RRH | Most Recent Enrollment
Street Outreach | Most Recent Enrollment
Coordinated Entry | Most Recent Enrollment
Emergency Shelter | Most Recent Enrollment
Transitional Housing | Most Recent Enrollment
PSH | Most Recent Enrollment
Prevention | Most Recent Enrollment
Under 25 Years Old
ClientID
4.10 Alcohol Abuse (Substance Abuse)
4.07 Chronic Health Condition
4.06 Developmental Disability
4.10 Drug Abuse (Substance Abuse)
4.08 HIV/AIDS
4.09 Mental Health Problem
4.05 Physical Disability
CaseChildren
CaseAdults
Bed Nights During Report Period
Count of Bed Nights - Entire Episode
HEN-HP Referral Most Recent
HEN-RRH Referral Most Recent
WorkSource Referral Most Recent
YAHP Referral Most Recent
4.04.10 Other Public
4.04.10 State Funded
4.04.11 Indian Health Services (IHS)
4.04.12 Other
4.04.3 Combined Childrens HealthInsurance/Medicaid
4.04.3 Medicaid
4.04.4 Medicare
4.04.5 State Children's health Insurance S-CHIP
4.04.6 Veteran's Administration Medical Services
4.04.8 Health Insurance obtained through COBRA
4.04.7 Private - Employer
4.04.9 Private
4.04.9 Private - Individual
4.2.3a Earned Income
4.2.4b Unemployment Insurance
4.2.5c Supplemental Security Income
4.2.6d Social Security Disability  Income
4.2.7e VA Disability Compensation
4.2.8f VA Disability Pension
4.2.9g Private Disability Income
4.2.10h Workers Compensation
4.2.11i TANF
4.2.12j General Assistance
4.2.13k Retirement (Social Security)
4.2.14l Pension from a Former Job
4.2.15m Child Support
4.2.16n Alimony
4.2.17o Other Income
Chronic Homeless Status_vHMISDatAssessment
Chronic Homeless Status_EvaluatevHMIS&HMISDA
Email
HomePhone
WorkPhone

In [123]:
df['minor'] = df['Age at Enrollment'] < 18
df['minor'].value_counts()

True     403
False    381
Name: minor, dtype: int64

In [116]:
minors = df['minor'] == True
adults = df['minor'] == False

In [126]:
minors = df['minor'].value_counts().index.tolist()

In [129]:
# What you're looking for
values = df['minor'].value_counts().keys().tolist()
counts = df['minor'].value_counts().tolist()

In [130]:
values

[True, False]

In [131]:
counts

[403, 381]

In [135]:
# Import pandas library 
import pandas as pd 
  
# initialize list of lists 
data = [['Adults', adults], ['Minors', minors]] 
  


# Create the pandas DataFrame 
ages_df = pd.DataFrame(counts, columns = ['minor'])

In [136]:
ages_df

   minor
0    403
1    381

In [137]:
ages_df.to_excel('G:\My Drive\FPData\old2019\minors.xlsx')

In [36]:
# get list of currently enrolled guests (guests that don't have an exit date)
currently_enrolled = df[df['3.11 Exit Date'].isnull()]

In [37]:
currently_enrolled['3.3 Birthdate'].value_counts()

1978-01-01    2
1986-06-24    1
1977-02-11    1
1994-11-20    1
2002-11-05    1
2017-05-25    1
1992-09-16    1
2015-05-25    1
2016-01-01    1
1983-12-01    1
1980-04-15    1
1977-05-20    1
1969-01-16    1
2007-02-07    1
1980-08-03    1
2002-04-12    1
2016-11-30    1
2013-01-05    1
2013-09-11    1
2017-09-14    1
2014-06-06    1
2018-12-21    1
Name: 3.3 Birthdate, dtype: int64

In [38]:
bdays_date = (date.today()-timedelta(days=15)).isoformat()
current_bdays = currently_enrolled[currently_enrolled['Date of Last ES Stay (Beta)'] >= bdays_date ]

In [39]:
from datetime import date

def calculate_age(born):
    today = date.today()
    return today.year - born.year - ((today.month, today.day) < (born.month, born.day))

In [40]:
# Python3 code to  calculate age in years 
from datetime import date 
  
def turning(born): 
    today = date.today() 
    this_month = date.today().month
    this_day = date.today()
    try:  
        birthday = born.replace(year = today.year) 
        birthmonth = born.replace(month = today.month)
        birth_day = born.replace(day = today.day)
  
    # raised when birth date is February 29 
    # and the current year is not a leap year 
    except ValueError:  
        birthday = born.replace(year = today.year, 
                  month = this_month + 1, day = 1) 
  
    if birthday > today:
        birthmonth = born.month
        if birthmonth == this_month:
            if birth_day > this_day:
                return today.year - born.year + 1
            if birth_day <= this_day:
                return today.year - born.year 
        else:
            return today.year - born.year        

    else: 
        return today.year - born.year 
          
# Driver code 
print(turning(date(1997, 2, 3)), "years")

23 years

In [41]:
current_bdays.head()

,2.1 Organization Name,2.2 Project Name,2.4 ProjectType,2.5 Utilization Tracking Method (Invalid),2.6 Federal Grant Programs,Enrollment Created By,3.1 FirstName,3.1 LastName,5.8 Personal ID,5.9 Household ID,...,4.2.13k Retirement (Social Security),4.2.14l Pension from a Former Job,4.2.15m Child Support,4.2.16n Alimony,4.2.17o Other Income,Chronic Homeless Status_vHMISDatAssessment,Chronic Homeless Status_EvaluatevHMIS&HMISDA,Email,HomePhone,WorkPhone
681,Family Promise of Spokane,FPS--ES--Open Doors,Emergency shelter,Night-by-Night (nbn),NaN,Kermit Nelson,Anonymous,Anonymous76618,76618,122926,...,0,0,0.0,0,0,1,1,NaN,NaN,NaN
682,Family Promise of Spokane,FPS--ES--Open Doors,Emergency shelter,Night-by-Night (nbn),NaN,Kermit Nelson,Anonymous,Anonymous76620,76620,122926,...,0,0,0.0,0,0,0,0,NaN,NaN,NaN
683,Family Promise of Spokane,FPS--ES--Open Doors,Emergency shelter,Night-by-Night (nbn),NaN,Kermit Nelson,Anonymous,Anonymous76619,76619,122926,...,0,0,200.0,0,0,1,1,NaN,NaN,NaN
726,Family Promise of Spokane,FPS--ES--Open Doors,Emergency shelter,Night-by-Night (nbn),NaN,Kermit Nelson,Anden,Isak,97731,124767,...,0,0,0.0,0,0,0,0,NaN,NaN,NaN
727,Family Promise of Spokane,FPS--ES--Open Doors,Emergency shelter,Night-by-Night (nbn),NaN,Kermit Nelson,T Merson,Doun,95697,124767,...,0,0,0.0,0,0,0,0,NaN,NaN,NaN

In [42]:
'''current_bdays['age'] = current_bdays['3.3 Birthdate'].apply(calculate_age)
current_bdays['age2'] = current_bdays['3.3 Birthdate'].apply(calculate_age)'''
current_bdays['turning'] = current_bdays['3.3 Birthdate'].apply(turning)

c:\users\jwyli\anaconda3\envs\lambda2\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [43]:
bday_df = current_bdays[['3.1 FirstName', '3.1 LastName', '3.3 Birthdate','turning']].copy()

In [44]:

currentMonth = date.today().month
currentMonth
two_months = date.today().month + 2

last_month = date.today().month - 1

In [45]:
bday_df['month'] = pd.DatetimeIndex(bday_df['3.3 Birthdate']).month
bday_df['day'] = pd.DatetimeIndex(bday_df['3.3 Birthdate']).day

In [46]:
upcomming_bdays = bday_df[(bday_df['month'] > last_month) & (bday_df['month'] < two_months) ]

In [47]:
upcomming_bdays.to_excel('G:\My Drive\FPData\old2019\close_bdays.xlsx')

In [48]:
upcomming_bdays

    3.1 FirstName 3.1 LastName 3.3 Birthdate  turning  month  day
727      T Merson         Doun    2014-06-06        6      6    6
728        Merlin         Poch    1977-05-20       43      5   20
768       Issaiah      Stroble    2017-05-25        3      5   25
769       Mathias      Stroble    2015-05-25        5      5   25

In [49]:
# create new list of those currently enrolled who haven't stayed with us for
# two weeks or more



current_date = date.today().isoformat()   
days_before = (date.today()-timedelta(days=30)).isoformat()

need_to_exit = currently_enrolled[currently_enrolled['Date of Last ES Stay (Beta)'] < days_before ]

In [50]:
exit_df = need_to_exit[['3.1 FirstName', '3.1 LastName', '5.8 Personal ID', '5.9 Household ID', '3.15 Relationship to HoH', 'CaseMembers', '3.10 Enroll Date', 'Date of Last ES Stay (Beta)']].copy()

In [51]:
#exit_df.head()

In [52]:
exit_df.to_excel('G:\My Drive\FPData\old2019\YTDexit_df.xlsx')

In [53]:
total_served = df['5.8 Personal ID']
len(total_served)

807

In [54]:
households = df['5.9 Household ID'].unique()
len(households)

251

In [55]:
# print total number of families served (unduplicated)
unique_households = df['5.9 Household ID'].nunique()
unique_households

251

In [56]:
#@title
# replace zeros in data with "Nan" to calculate more accurate average bednights 
df['Count of Bed Nights (Housing Check-ins)'] = df['Count of Bed Nights (Housing Check-ins)'].replace(0, np.NaN)

In [57]:
avg_bn = df['Count of Bed Nights (Housing Check-ins)'].mean()
avg_bn = round(avg_bn, 2)
avg_bn

33.89

In [58]:
df['3.12 Exit Destination'].value_counts()

Client refused                                                                                                                   276
Emergency shelter, including hotel or motel paid for with emergency shelter voucher, or RHY-funded Host Home shelter             147
Rental by client with RRH or equivalent subsidy                                                                                   79
Rental by client, no ongoing housing subsidy                                                                                      53
No exit interview completed                                                                                                       51
Transitional Housing for homeless persons (including homeless youth)                                                              45
Rental by client, other ongoing housing subsidy                                                                                   31
Staying or living with family, permanent tenure                                                                                   29
Staying or living with family, temporary tenure (e.g., room, apartment or house)                                                  25
Staying or living with friends, temporary tenure (e.g., room, apartment or house)                                                 19
Place not meant for habitation (e.g., a vehicle, an abandoned building, bus/train/subway station/airport or anywhere outside)     17
Hotel or Motel paid for without Emergency Shelter Voucher                                                                          4
Substance Abuse Treatment or Detox Center                                                                                          2
Staying or living with friends, permanent tenure                                                                                   2
Foster Care Home or Foster Care Group Home                                                                                         1
Psychiatric Hospital or Other Psychiatric Facility                                                                                 1
Permanent housing (other than RRH) for formerly homeless persons                                                                   1
Owned by client, no ongoing housing subsidy                                                                                        1
Name: 3.12 Exit Destination, dtype: int64

In [59]:
#@title

exit_reasons = ['Rental by client with RRH or equivalent subsidy', 
                'Rental by client, no ongoing housing subsidy', 
                'Staying or living with family, permanent tenure', 
                'Rental by client, other ongoing housing subsidy',
                'Permanent housing (other than RRH) for formerly homeless persons', 
                'Staying or living with friends, permanent tenure', 
                'Owned by client, with ongoing housing subsidy',
                'Owned by client, no ongoing housing subsidy',
                'Staying or living with friends, permanent tenure', 
                'Rental by client, VASH housing Subsidy'
               ]

temp_reasons = ['Staying or living with family, temporary tenure (e.g., room, apartment or house)', 
               'Staying or living with friends, temporary tenure (e.g., room, apartment or house)', 
                
               ]

In [113]:
# drop rows with no exit destination (current guests at time of report)
df = df.dropna(subset=['3.12 Exit Destination'])

In [114]:
df['minor'].value_counts()

True     403
False    381
Name: minor, dtype: int64

In [61]:
 # create target column (multiple types of exits to perm)
df['perm_leaver'] = df['3.12 Exit Destination'].isin(exit_reasons)

In [62]:
#df.head()

In [63]:
perm_leaver = df[df['perm_leaver'] == True]

In [64]:
total_perm = perm_leaver.perm_leaver.value_counts().sum()

In [65]:
total_perm

196

In [66]:
non_perm = df[df['perm_leaver'] == False]

In [67]:
total_non_perm = non_perm.perm_leaver.value_counts().sum()

In [68]:
total_non_perm

588

In [69]:
perm_percent = total_perm / total_non_perm

In [70]:
perm_percent = round(perm_percent, 2)*100
perm_percent

33.0

In [71]:
df['3.12 Exit Destination'].value_counts()

Client refused                                                                                                                   276
Emergency shelter, including hotel or motel paid for with emergency shelter voucher, or RHY-funded Host Home shelter             147
Rental by client with RRH or equivalent subsidy                                                                                   79
Rental by client, no ongoing housing subsidy                                                                                      53
No exit interview completed                                                                                                       51
Transitional Housing for homeless persons (including homeless youth)                                                              45
Rental by client, other ongoing housing subsidy                                                                                   31
Staying or living with family, permanent tenure                                                                                   29
Staying or living with family, temporary tenure (e.g., room, apartment or house)                                                  25
Staying or living with friends, temporary tenure (e.g., room, apartment or house)                                                 19
Place not meant for habitation (e.g., a vehicle, an abandoned building, bus/train/subway station/airport or anywhere outside)     17
Hotel or Motel paid for without Emergency Shelter Voucher                                                                          4
Substance Abuse Treatment or Detox Center                                                                                          2
Staying or living with friends, permanent tenure                                                                                   2
Foster Care Home or Foster Care Group Home                                                                                         1
Psychiatric Hospital or Other Psychiatric Facility                                                                                 1
Permanent housing (other than RRH) for formerly homeless persons                                                                   1
Owned by client, no ongoing housing subsidy                                                                                        1
Name: 3.12 Exit Destination, dtype: int64

In [72]:
unknowns = ['Client refused', 'No exit interview completed']

In [73]:
unknown_df = df[df['3.12 Exit Destination'].isin(unknowns)]

In [74]:
unknown_exits = unknown_df['3.12 Exit Destination'].value_counts().sum()

In [75]:
unknown_exits

327

In [76]:
unknown_percent = unknown_exits / total_non_perm
unknown_percent = round(unknown_percent, 2) *100
unknown_percent

56.00000000000001

In [77]:
exits = df['3.12 Exit Destination'].value_counts().sum()
exits

784

In [78]:
exits = df['3.12 Exit Destination'].value_counts()

In [79]:
# take sum of ES and Trans exits and divide by total exits, then multiply by 100 to get percentage
esExits = exits['Emergency shelter, including hotel or motel paid for with emergency shelter voucher, or RHY-funded Host Home shelter'] 
#transExits = ((exits['Transitional Housing for homeless persons (including homeless youth)'] / exits.sum()) * 100)
# round the answer to nearest hundreth place
esExits = (round(esExits, 2))
#transExits = (round(transExits, 2))
esExits
#print('Exits to Transitional',transExits,'%')

147

In [80]:
tempExits = df['3.12 Exit Destination'].isin(temp_reasons).sum()

tempExits

44

In [81]:
transitional = df['3.12 Exit Destination'] == 'Transitional Housing for homeless persons (including homeless youth)'
transitional = transitional.sum()
transitional

45

In [82]:
exits.sum()

784

In [83]:
total_guests = total_non_perm + total_perm

In [84]:
trans_percent = (transitional / exits.sum())*100
trans_percent = round(trans_percent, 2)
trans_percent

5.74

In [85]:
#zips_master

In [86]:
# export zips into an excel sheet for Power BI visual
zips_master = pd.read_excel(r'C:\Users\jwyli\Downloads\uszips.xlsx')



# Import pandas library 
import pandas as pd 
  
# initialize list of lists 
zips_bi = df['V5 Zip'].value_counts().to_frame('Total').reset_index(level=0, inplace=False)
zips_bi = zips_bi.rename(columns={"index": "V5 Zip"})
zips_bi = zips_bi.merge(zips_master,on='V5 Zip')
zips_bi['V5 City'].value_counts()

Spokane                    10
Spokane Valley              4
Mountain Home               2
Great Falls                 2
South Bend                  1
Olympia                     1
Chewelah                    1
Alexandria                  1
Bakersfield                 1
Clarkston                   1
Greenacres                  1
Colville                    1
Vancouver                   1
Tucson                      1
Milwaukee                   1
Cheney                      1
Marrero                     1
Salt Lake City              1
Omak                        1
Wellpinit                   1
Everett                     1
Santa Rosa                  1
Anderson                    1
Grand Coulee                1
Pullman                     1
Ligonier                    1
Windsor Mill                1
Puyallup                    1
Nampa                       1
Cedar City                  1
Medical Lake                1
Walla Walla                 1
Lolo                        1
San Antonio                 1
Moscow                      1
Dubuque                     1
Williston                   1
Glendale                    1
Hawthorne                   1
Fort Myers                  1
Hoodsport                   1
Twin Falls                  1
Alpena                      1
Veradale/Spokane Valley     1
Kettle Falls                1
Deer Park                   1
Liberty Lake                1
Newport                     1
Tillamook                   1
Moses Lake                  1
Jensen Beach                1
Airway Heights              1
Inglewood                   1
Ritzville                   1
Ogden                       1
Celina                      1
Name: V5 City, dtype: int64

In [87]:
type(zips_bi)

pandas.core.frame.DataFrame

In [88]:
zips_bi.to_excel('G:\My Drive\FPData\old2019\weeklyYTDzips.xlsx', header=True, index=False)

In [89]:
other_reasons = ['Place not meant for habitation (e.g., a vehicle, an abandoned building, bus/train/subway station/airport or anywhere outside)',
                 'Hotel or Motel paid for without Emergency Shelter Voucher', 'Other', 'Substance Abuse Treatment or Detox Center',
                 'Foster Care Home or Foster Care Group Home', 'Psychiatric Hospital or Other Psychiatric Facility']

In [90]:
df['3.12 Exit Destination'].value_counts()

Client refused                                                                                                                   276
Emergency shelter, including hotel or motel paid for with emergency shelter voucher, or RHY-funded Host Home shelter             147
Rental by client with RRH or equivalent subsidy                                                                                   79
Rental by client, no ongoing housing subsidy                                                                                      53
No exit interview completed                                                                                                       51
Transitional Housing for homeless persons (including homeless youth)                                                              45
Rental by client, other ongoing housing subsidy                                                                                   31
Staying or living with family, permanent tenure                                                                                   29
Staying or living with family, temporary tenure (e.g., room, apartment or house)                                                  25
Staying or living with friends, temporary tenure (e.g., room, apartment or house)                                                 19
Place not meant for habitation (e.g., a vehicle, an abandoned building, bus/train/subway station/airport or anywhere outside)     17
Hotel or Motel paid for without Emergency Shelter Voucher                                                                          4
Substance Abuse Treatment or Detox Center                                                                                          2
Staying or living with friends, permanent tenure                                                                                   2
Foster Care Home or Foster Care Group Home                                                                                         1
Psychiatric Hospital or Other Psychiatric Facility                                                                                 1
Permanent housing (other than RRH) for formerly homeless persons                                                                   1
Owned by client, no ongoing housing subsidy                                                                                        1
Name: 3.12 Exit Destination, dtype: int64

In [91]:
other = df['3.12 Exit Destination'].isin(other_reasons)

In [92]:
other.sum()
other = other.sum()
other

25

In [93]:
df['4.04.7 Private - Employer']

0      No
1      No
2      No
3      No
4      No
       ..
802    No
803    No
804    No
805    No
806    No
Name: 4.04.7 Private - Employer, Length: 784, dtype: object

In [94]:
df['3.12 Exit Destination'].value_counts()

Client refused                                                                                                                   276
Emergency shelter, including hotel or motel paid for with emergency shelter voucher, or RHY-funded Host Home shelter             147
Rental by client with RRH or equivalent subsidy                                                                                   79
Rental by client, no ongoing housing subsidy                                                                                      53
No exit interview completed                                                                                                       51
Transitional Housing for homeless persons (including homeless youth)                                                              45
Rental by client, other ongoing housing subsidy                                                                                   31
Staying or living with family, permanent tenure                                                                                   29
Staying or living with family, temporary tenure (e.g., room, apartment or house)                                                  25
Staying or living with friends, temporary tenure (e.g., room, apartment or house)                                                 19
Place not meant for habitation (e.g., a vehicle, an abandoned building, bus/train/subway station/airport or anywhere outside)     17
Hotel or Motel paid for without Emergency Shelter Voucher                                                                          4
Substance Abuse Treatment or Detox Center                                                                                          2
Staying or living with friends, permanent tenure                                                                                   2
Foster Care Home or Foster Care Group Home                                                                                         1
Psychiatric Hospital or Other Psychiatric Facility                                                                                 1
Permanent housing (other than RRH) for formerly homeless persons                                                                   1
Owned by client, no ongoing housing subsidy                                                                                        1
Name: 3.12 Exit Destination, dtype: int64

In [95]:
print(total_guests, 'total guests served YTD')
print(total_non_perm, 'total non perm leavers')
print(total_perm, 'total perm leavers')
print(esExits, 'total ES leavers')
print(tempExits, 'total temp leavers')
print(transitional, 'total trans leavers')
print(other, 'total leavers to "other"')
print(unknown_exits, 'total unknown leavers')
print('sum of all groups to make sure it matches total served:',total_perm+esExits+tempExits+transitional+other+unknown_exits)

784 total guests served YTD
588 total non perm leavers
196 total perm leavers
147 total ES leavers
44 total temp leavers
45 total trans leavers
25 total leavers to "other"
327 total unknown leavers
sum of all groups to make sure it matches total served: 784

In [96]:
total_perm+esExits+tempExits+transitional+other+unknown_exits

784

In [97]:
total_perm+total_non_perm

784

In [98]:
assert((total_guests) == (total_perm+esExits+tempExits+transitional+other+unknown_exits))

In [99]:
'''perm_bi = '{} %'.format(perm_percent)
es_bi = '{} %'.format(esExits)
temp_bi = '{} %'.format(tempExits)
trans_bi = '{} %'.format(trans_percent)
unknown_bi = '{} %'.format(unknown_percent)'''

"perm_bi = '{} %'.format(perm_percent)\nes_bi = '{} %'.format(esExits)\ntemp_bi = '{} %'.format(tempExits)\ntrans_bi = '{} %'.format(trans_percent)\nunknown_bi = '{} %'.format(unknown_percent)"

In [100]:
'''power_bi = pd.DataFrame({'Permanent Leavers': total_perm, 'Emergency Shelter Leavers': esExits, 
                         'Temporary Leavers': tempExits, 'Transitional Leavers': transitional, 
                         'Unknown Leavers': unknown_exits, 'Other Leavers': other, 'Total': total_guests }, index=[0])'''

"power_bi = pd.DataFrame({'Permanent Leavers': total_perm, 'Emergency Shelter Leavers': esExits, \n                         'Temporary Leavers': tempExits, 'Transitional Leavers': transitional, \n                         'Unknown Leavers': unknown_exits, 'Other Leavers': other, 'Total': total_guests }, index=[0])"

In [101]:
# Import pandas library 
import pandas as pd 
  
# initialize list of lists 
data = [['Permanent Leavers', total_perm], ['Emergency Shelter Leavers', esExits], 
        ['Temporary Leavers', tempExits], ['Transitional Leavers', transitional],
        ['Unknown Leavers', unknown_exits], ['Other Leavers', other]] 
  


# Create the pandas DataFrame 
power_bi = pd.DataFrame(data, columns = ['Exit Destination', 'Total']) 
  
# print dataframe.

In [102]:
power_bi

            Exit Destination  Total
0          Permanent Leavers    196
1  Emergency Shelter Leavers    147
2          Temporary Leavers     44
3       Transitional Leavers     45
4            Unknown Leavers    327
5              Other Leavers     25

In [103]:
power_bi.Total.sum()

784

In [104]:
power_bi.to_excel('G:\My Drive\FPData\old2019\YTDweeklyDataNew.xlsx')

In [105]:
df['3.12 Exit Destination'].value_counts().sum()

784

In [106]:
assert(power_bi.Total.sum() == df['3.12 Exit Destination'].value_counts().sum())