<a href="https://colab.research.google.com/github/iesous-kurios/powerBi/blob/master/PowerBI_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#@title
# import libraries which provide math functions to our data imports
import statistics
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import xlwt 
from xlwt import Workbook
import seaborn as sns
import datetime
from datetime import date, timedelta
import matplotlib.pyplot as plt
import matplotlib
from matplotlib import style

sns.__version__

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

'0.10.1'

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
#@title
# import weekly data from yearly FPS folder
df = pd.read_excel('/content/FP_YTD_April30.xlsx')
#df = pd.read_excel ('~/environments/fp_env/family_promise_data/data/ClientTrackExport (5).xlsx')

In [0]:
# get list of currently enrolled guests (guests that don't have an exit date)
currently_enrolled = df[df['3.11 Exit Date'].isnull()]

In [5]:
currently_enrolled['3.3 Birthdate'].value_counts()

1978-01-01    2
1973-06-17    1
1990-11-12    1
2014-08-26    1
2003-06-01    1
             ..
2010-11-19    1
2009-10-20    1
2013-09-11    1
1975-01-01    1
2018-12-21    1
Name: 3.3 Birthdate, Length: 79, dtype: int64

In [0]:
bdays_date = (date.today()-timedelta(days=15)).isoformat()
current_bdays = currently_enrolled[currently_enrolled['Date of Last ES Stay (Beta)'] >= bdays_date ]

In [0]:
from datetime import date

def calculate_age(born):
    today = date.today()
    return today.year - born.year - ((today.month, today.day) < (born.month, born.day))

In [8]:
# Python3 code to  calculate age in years 
from datetime import date 
  
def turning(born): 
    today = date.today() 
    this_month = date.today().month
    this_day = date.today().day
    try:  
        birthday = born.replace(year = today.year) 
        birthmonth = born.replace(month = today.month)
        birth_day = born.replace(day = today.day)
  
    # raised when birth date is February 29 
    # and the current year is not a leap year 
    except ValueError:  
        birthday = born.replace(year = today.year, 
                  month = this_month + 1, day = 1) 
  
    if birthday > today:
        birthmonth = born.month
        if birthmonth == this_month:
            if birth_day > this_day:
                return today.year - born.year + 1
            if birth_day <= this_day:
                return today.year - born.year 
        else:
            return today.year - born.year        

    else: 
        return today.year - born.year 
          
# Driver code 
print(turning(date(1997, 2, 3)), "years")

23 years

In [9]:
current_bdays['age'] = current_bdays['3.3 Birthdate'].apply(calculate_age)
current_bdays['age2'] = current_bdays['3.3 Birthdate'].apply(calculate_age)
current_bdays['turning'] = current_bdays['3.3 Birthdate'].apply(turning)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [0]:
bday_df = current_bdays[['3.1 FirstName', '3.1 LastName', '3.3 Birthdate','turning']].copy()

In [0]:

currentMonth = date.today().month
currentMonth
two_months = date.today().month + 2

last_month = date.today().month - 1

In [0]:
bday_df['month'] = pd.DatetimeIndex(bday_df['3.3 Birthdate']).month
bday_df['day'] = pd.DatetimeIndex(bday_df['3.3 Birthdate']).day

In [0]:
upcomming_bdays = bday_df[(bday_df['month'] > last_month) & (bday_df['month'] < two_months) ]

In [0]:
upcomming_bdays.to_excel('/content/drive/My Drive/FPData.close_bdays.xlsx')

In [15]:
upcomming_bdays

    3.1 FirstName 3.1 LastName 3.3 Birthdate  turning  month  day
435        Merlin         Poch    1977-05-20       43      5   20
476       Issaiah      Stroble    2017-05-25        3      5   25
477       Mathias      Stroble    2015-05-25        5      5   25
619     Nickolaus       Osborn    2012-05-28        8      5   28
642      Cheyenne       Martin    2011-05-18        9      5   18

In [0]:
# create new list of those currently enrolled who haven't stayed with us for
# two weeks or more



current_date = date.today().isoformat()   
days_before = (date.today()-timedelta(days=30)).isoformat()

need_to_exit = currently_enrolled[currently_enrolled['Date of Last ES Stay (Beta)'] < days_before ]

In [0]:
exit_df = need_to_exit[['3.1 FirstName', '3.1 LastName', '5.8 Personal ID', '5.9 Household ID', '3.15 Relationship to HoH', 'CaseMembers', '3.10 Enroll Date', 'Date of Last ES Stay (Beta)']].copy()

In [0]:
#exit_df.head()

In [0]:
exit_df.to_excel('/content/drive/My Drive/FPData/YTD Data/YTDexit_df.xlsx')

In [20]:
households = df['5.9 Household ID'].unique()
len(households)

204

In [21]:
# print total number of families served (unduplicated)
unique_households = df['5.9 Household ID'].nunique()
unique_households

204

In [0]:
#@title
# replace zeros in data with "Nan" to calculate more accurate average bednights 
df['Count of Bed Nights (Housing Check-ins)'] = df['Count of Bed Nights (Housing Check-ins)'].replace(0, np.NaN)

In [23]:
avg_bn = df['Count of Bed Nights (Housing Check-ins)'].mean()
avg_bn = round(avg_bn, 2)
avg_bn

38.92

In [0]:
#@title

exit_reasons = ['Rental by client with RRH or equivalent subsidy', 
                'Rental by client, no ongoing housing subsidy', 
                'Staying or living with family, permanent tenure', 
                'Rental by client, other ongoing housing subsidy',
                'Permanent housing (other than RRH) for formerly homeless persons', 
                'Staying or living with friends, permanent tenure', 
                'Owned by client, with ongoing housing subsidy', 
                'Staying or living with friends, permanent tenure', 
                'Rental by client, VASH housing Subsidy'
               ]

temp_reasons = ['Staying or living with family, temporary tenure (e.g., room, apartment or house)', 
               'Staying or living with friends, temporary tenure (e.g., room, apartment or house)', 
                
               ]

In [0]:
# drop rows with no exit destination (current guests at time of report)
df = df.dropna(subset=['3.12 Exit Destination'])

In [0]:
 # create target column (multiple types of exits to perm)
df['perm_leaver'] = df['3.12 Exit Destination'].isin(exit_reasons)

In [0]:
#df.head()

In [0]:
perm_leaver = df[df['perm_leaver'] == True]

In [0]:
total_perm = perm_leaver.perm_leaver.value_counts().sum()

In [30]:
total_perm

172

In [0]:
non_perm = df[df['perm_leaver'] == False]

In [0]:
total_non_perm = non_perm.perm_leaver.value_counts().sum()

In [33]:
total_non_perm

391

In [0]:
perm_percent = total_perm / total_non_perm

In [35]:
perm_percent = round(perm_percent, 2)*100
perm_percent

44.0

In [36]:
df['3.12 Exit Destination'].value_counts()

Emergency shelter, including hotel or motel paid for with emergency shelter voucher, or RHY-funded Host Home shelter             136
Client refused                                                                                                                   128
Rental by client, no ongoing housing subsidy                                                                                      68
Rental by client with RRH or equivalent subsidy                                                                                   49
Rental by client, other ongoing housing subsidy                                                                                   41
Transitional Housing for homeless persons (including homeless youth)                                                              37
No exit interview completed                                                                                                       23
Place not meant for habitation (e.g., a vehicle, an abandoned building, bus/train/subway station/airport or anywhere outside)     22
Staying or living with family, temporary tenure (e.g., room, apartment or house)                                                  19
Staying or living with friends, temporary tenure (e.g., room, apartment or house)                                                 18
Staying or living with family, permanent tenure                                                                                   13
Hotel or Motel paid for without Emergency Shelter Voucher                                                                          4
Substance Abuse Treatment or Detox Center                                                                                          2
Foster Care Home or Foster Care Group Home                                                                                         1
Owned by client, no ongoing housing subsidy                                                                                        1
Permanent housing (other than RRH) for formerly homeless persons                                                                   1
Name: 3.12 Exit Destination, dtype: int64

In [0]:
unknowns = ['Client refused', 'No exit interview completed']

In [0]:
unknown_df = df[df['3.12 Exit Destination'].isin(unknowns)]

In [0]:
unknown_exits = unknown_df['3.12 Exit Destination'].value_counts().sum()

In [40]:
unknown_exits

151

In [41]:
unknown_percent = unknown_exits / total_non_perm
unknown_percent = round(unknown_percent, 2) *100
unknown_percent

39.0

In [42]:
exits = df['3.12 Exit Destination'].value_counts().sum()
exits

563

In [0]:
exits = df['3.12 Exit Destination'].value_counts()

In [44]:
# take sum of ES and Trans exits and divide by total exits, then multiply by 100 to get percentage
esExits = exits['Emergency shelter, including hotel or motel paid for with emergency shelter voucher, or RHY-funded Host Home shelter'] 
#transExits = ((exits['Transitional Housing for homeless persons (including homeless youth)'] / exits.sum()) * 100)
# round the answer to nearest hundreth place
esExits = (round(esExits, 2))
#transExits = (round(transExits, 2))
esExits
#print('Exits to Transitional',transExits,'%')

136

In [45]:
tempExits = df['3.12 Exit Destination'].isin(temp_reasons).sum()

tempExits

37

In [46]:
transitional = df['3.12 Exit Destination'] == 'Transitional Housing for homeless persons (including homeless youth)'
transitional = transitional.sum()
transitional

37

In [47]:
exits.sum()

563

In [0]:
total_guests = total_non_perm + total_perm

In [49]:
trans_percent = (transitional / exits.sum())*100
trans_percent = round(trans_percent, 2)
trans_percent

6.57

In [0]:
#zips_master

In [51]:
# export zips into an excel sheet for Power BI visual
zips_master = pd.read_excel('/content/drive/My Drive/FPData/uszips.xlsx')



# Import pandas library 
import pandas as pd 
  
# initialize list of lists 
zips_bi = df['V5 Zip'].value_counts().to_frame('Total').reset_index(level=0, inplace=False)
zips_bi = zips_bi.rename(columns={"index": "V5 Zip"})
zips_bi = zips_bi.merge(zips_master,on='V5 Zip')
zips_bi['V5 City'].value_counts()

Spokane           10
Spokane Valley     5
Mountain Home      2
Great Falls        2
Deer Park          1
Browning           1
Ogden              1
Tillamook          1
Salt Lake City     1
Alexandria         1
Hemet              1
Milwaukee          1
Chewelah           1
Dubuque            1
Newport            1
Jensen Beach       1
Williston          1
Wellpinit          1
Kennewick          1
Glendale           1
Celina             1
Colville           1
Lolo               1
Bakersfield        1
Tacoma             1
South Bend         1
Vancouver          1
Pullman            1
Kettle Falls       1
Medical Lake       1
Everett            1
Cheney             1
Nampa              1
Airway Heights     1
Greenacres         1
Puyallup           1
Santa Rosa         1
Hoodsport          1
Sprague            1
Anderson           1
Omak               1
Marrero            1
Windsor Mill       1
Name: V5 City, dtype: int64

In [52]:
type(zips_bi)

pandas.core.frame.DataFrame

In [0]:
zips_bi.to_excel('/content/drive/My Drive/FPData/YTD Data/weeklyYTDzips.xlsx', header=True, index=False)

In [0]:
other_reasons = ['Place not meant for habitation (e.g., a vehicle, an abandoned building, bus/train/subway station/airport or anywhere outside)',
                 'Hotel or Motel paid for without Emergency Shelter Voucher', 'Other', 'Substance Abuse Treatment or Detox Center',
                 'Foster Care Home or Foster Care Group Home', 'Psychiatric Hospital or Other Psychiatric Facility']

In [0]:
other = df['3.12 Exit Destination'].isin(other_reasons)

In [56]:
other.sum()
other = other.sum()
other

29

In [57]:
df['4.04.7 Private - Employer']

0      No
1      No
2      No
3      No
4      No
       ..
610    No
611    No
612    No
632    No
633    No
Name: 4.04.7 Private - Employer, Length: 563, dtype: object

In [58]:
df['3.12 Exit Destination'].value_counts()

Emergency shelter, including hotel or motel paid for with emergency shelter voucher, or RHY-funded Host Home shelter             136
Client refused                                                                                                                   128
Rental by client, no ongoing housing subsidy                                                                                      68
Rental by client with RRH or equivalent subsidy                                                                                   49
Rental by client, other ongoing housing subsidy                                                                                   41
Transitional Housing for homeless persons (including homeless youth)                                                              37
No exit interview completed                                                                                                       23
Place not meant for habitation (e.g., a vehicle, an abandoned building, bus/train/subway station/airport or anywhere outside)     22
Staying or living with family, temporary tenure (e.g., room, apartment or house)                                                  19
Staying or living with friends, temporary tenure (e.g., room, apartment or house)                                                 18
Staying or living with family, permanent tenure                                                                                   13
Hotel or Motel paid for without Emergency Shelter Voucher                                                                          4
Substance Abuse Treatment or Detox Center                                                                                          2
Foster Care Home or Foster Care Group Home                                                                                         1
Owned by client, no ongoing housing subsidy                                                                                        1
Permanent housing (other than RRH) for formerly homeless persons                                                                   1
Name: 3.12 Exit Destination, dtype: int64

In [59]:
print(total_guests, 'total guests served YTD')
print(total_non_perm, 'total non perm leavers')
print(total_perm, 'total perm leavers')
print(esExits, 'total ES leavers')
print(tempExits, 'total temp leavers')
print(transitional, 'total trans leavers')
print(other, 'total leavers to "other"')
print(unknown_exits, 'total unknown leavers')
print('sum of all groups to make sure it matches total served:',total_perm+esExits+tempExits+transitional+other+unknown_exits)

563 total guests served YTD
391 total non perm leavers
172 total perm leavers
136 total ES leavers
37 total temp leavers
37 total trans leavers
29 total leavers to "other"
151 total unknown leavers
sum of all groups to make sure it matches total served: 562

In [60]:
assert((total_perm+esExits+tempExits+transitional+other+unknown_exits) == (total_non_perm+total_perm))

AssertionError: ignored

In [0]:
'''perm_bi = '{} %'.format(perm_percent)
es_bi = '{} %'.format(esExits)
temp_bi = '{} %'.format(tempExits)
trans_bi = '{} %'.format(trans_percent)
unknown_bi = '{} %'.format(unknown_percent)'''

In [0]:
'''power_bi = pd.DataFrame({'Permanent Leavers': total_perm, 'Emergency Shelter Leavers': esExits, 
                         'Temporary Leavers': tempExits, 'Transitional Leavers': transitional, 
                         'Unknown Leavers': unknown_exits, 'Other Leavers': other, 'Total': total_guests }, index=[0])'''

In [0]:
# Import pandas library 
import pandas as pd 
  
# initialize list of lists 
data = [['Permanent Leavers', total_perm], ['Emergency Shelter Leavers', esExits], 
        ['Temporary Leavers', tempExits], ['Transitional Leavers', transitional],
        ['Unknown Leavers', unknown_exits], ['Other Leavers', other]] 
  


# Create the pandas DataFrame 
power_bi = pd.DataFrame(data, columns = ['Exit Destination', 'Total']) 
  
# print dataframe.

In [62]:
power_bi

            Exit Destination  Total
0          Permanent Leavers    172
1  Emergency Shelter Leavers    136
2          Temporary Leavers     37
3       Transitional Leavers     37
4            Unknown Leavers    151
5              Other Leavers     29

In [63]:
power_bi.Total.sum()

562

In [0]:
power_bi.to_excel('/content/drive/My Drive/FPData/YTD Data/YTDweeklyDataNew.xlsx')

In [65]:
df['3.12 Exit Destination'].value_counts().sum()

563

In [66]:
assert(power_bi.Total.sum() == df['3.12 Exit Destination'].value_counts().sum())

AssertionError: ignored