<a href="https://colab.research.google.com/github/iesous-kurios/powerBi/blob/master/PowerBI_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [260]:
#@title
# import libraries which provide math functions to our data imports
import statistics
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import datetime
from datetime import date, timedelta
import matplotlib.pyplot as plt
import matplotlib
from matplotlib import style

sns.__version__

'0.10.1'

In [261]:
pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\jwyli\anaconda3\envs\lambda2\lib\site-packages (3.0.3)
Requirement already satisfied: et-xmlfile in c:\users\jwyli\anaconda3\envs\lambda2\lib\site-packages (from openpyxl) (1.0.1)
Requirement already satisfied: jdcal in c:\users\jwyli\anaconda3\envs\lambda2\lib\site-packages (from openpyxl) (1.4.1)
Note: you may need to restart the kernel to use updated packages.

In [262]:
#@title
# import weekly data from yearly FPS folder

df = pd.read_excel('G:\My Drive\FPData\YTD Data\FP_May19.xlsx', sheet_name=0)
#df = pd.read_excel ('~/environments/fp_env/family_promise_data/data/ClientTrackExport (5).xlsx')

In [263]:
# get list of currently enrolled guests (guests that don't have an exit date)
currently_enrolled = df[df['3.11 Exit Date'].isnull()]

In [264]:
currently_enrolled['3.3 Birthdate'].value_counts()

1978-01-01    2
1973-06-17    1
2014-08-26    1
1987-02-14    1
2003-12-31    1
             ..
2010-11-19    1
2009-10-20    1
2013-09-11    1
2014-03-22    1
2018-12-21    1
Name: 3.3 Birthdate, Length: 94, dtype: int64

In [265]:
bdays_date = (date.today()-timedelta(days=15)).isoformat()
current_bdays = currently_enrolled[currently_enrolled['Date of Last ES Stay (Beta)'] >= bdays_date ]

In [266]:
from datetime import date

def calculate_age(born):
    today = date.today()
    return today.year - born.year - ((today.month, today.day) < (born.month, born.day))

In [267]:
# Python3 code to  calculate age in years 
from datetime import date 
  
def turning(born): 
    today = date.today() 
    this_month = date.today().month
    this_day = date.today()
    try:  
        birthday = born.replace(year = today.year) 
        birthmonth = born.replace(month = today.month)
        birth_day = born.replace(day = today.day)
  
    # raised when birth date is February 29 
    # and the current year is not a leap year 
    except ValueError:  
        birthday = born.replace(year = today.year, 
                  month = this_month + 1, day = 1) 
  
    if birthday > today:
        birthmonth = born.month
        if birthmonth == this_month:
            if birth_day > this_day:
                return today.year - born.year + 1
            if birth_day <= this_day:
                return today.year - born.year 
        else:
            return today.year - born.year        

    else: 
        return today.year - born.year 
          
# Driver code 
print(turning(date(1997, 2, 3)), "years")

23 years

In [268]:
current_bdays.head()

,2.1 Organization Name,2.2 Project Name,2.4 ProjectType,2.5 Utilization Tracking Method (Invalid),2.6 Federal Grant Programs,Enrollment Created By,3.1 FirstName,3.1 LastName,5.8 Personal ID,5.9 Household ID,...,4.2.13k Retirement (Social Security),4.2.14l Pension from a Former Job,4.2.15m Child Support,4.2.16n Alimony,4.2.17o Other Income,Chronic Homeless Status_vHMISDatAssessment,Chronic Homeless Status_EvaluatevHMIS&HMISDA,Email,HomePhone,WorkPhone
345,Family Promise of Spokane,FPS--ES--Open Doors,Emergency shelter,Night-by-Night (nbn),NaN,Kermit Nelson,Anonymous,Anonymous76618,76618,122926,...,0,0,0.0,0,0,1,1,NaN,NaN,NaN
346,Family Promise of Spokane,FPS--ES--Open Doors,Emergency shelter,Night-by-Night (nbn),NaN,Kermit Nelson,Anonymous,Anonymous76619,76619,122926,...,0,0,200.0,0,0,1,1,NaN,NaN,NaN
347,Family Promise of Spokane,FPS--ES--Open Doors,Emergency shelter,Night-by-Night (nbn),NaN,Kermit Nelson,Anonymous,Anonymous76620,76620,122926,...,0,0,0.0,0,0,0,0,NaN,NaN,NaN
390,Family Promise of Spokane,FPS--ES--Open Doors,Emergency shelter,Night-by-Night (nbn),NaN,Kermit Nelson,Anden,Isak,97731,124767,...,0,0,0.0,0,0,0,0,NaN,NaN,NaN
391,Family Promise of Spokane,FPS--ES--Open Doors,Emergency shelter,Night-by-Night (nbn),NaN,Kermit Nelson,T Merson,Doun,95697,124767,...,0,0,0.0,0,0,0,0,NaN,NaN,NaN

In [269]:
'''current_bdays['age'] = current_bdays['3.3 Birthdate'].apply(calculate_age)
current_bdays['age2'] = current_bdays['3.3 Birthdate'].apply(calculate_age)'''
current_bdays['turning'] = current_bdays['3.3 Birthdate'].apply(turning)

c:\users\jwyli\anaconda3\envs\lambda2\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [270]:
bday_df = current_bdays[['3.1 FirstName', '3.1 LastName', '3.3 Birthdate','turning']].copy()

In [271]:

currentMonth = date.today().month
currentMonth
two_months = date.today().month + 2

last_month = date.today().month - 1

In [272]:
bday_df['month'] = pd.DatetimeIndex(bday_df['3.3 Birthdate']).month
bday_df['day'] = pd.DatetimeIndex(bday_df['3.3 Birthdate']).day

In [273]:
upcomming_bdays = bday_df[(bday_df['month'] > last_month) & (bday_df['month'] < two_months) ]

In [274]:
upcomming_bdays.to_excel('G:\My Drive\FPData.close_bdays.xlsx')

In [275]:
upcomming_bdays

      3.1 FirstName  3.1 LastName 3.3 Birthdate  turning  month  day
391        T Merson          Doun    2014-06-06        6      6    6
392          Merlin          Poch    1977-05-20       43      5   20
433         Issaiah       Stroble    2017-05-25        3      5   25
434         Mathias       Stroble    2015-05-25        5      5   25
495            Eric       Rideout    2003-06-01       17      6    1
577       Nickolaus        Osborn    2012-05-28        8      5   28
594  Abigail Lea Fe  Striped Wolf    2015-06-01        5      6    1
596       Elizabeth         Green    1987-06-06       33      6    6
599        Cheyenne        Martin    2011-05-18        9      5   18

In [276]:
# create new list of those currently enrolled who haven't stayed with us for
# two weeks or more



current_date = date.today().isoformat()   
days_before = (date.today()-timedelta(days=30)).isoformat()

need_to_exit = currently_enrolled[currently_enrolled['Date of Last ES Stay (Beta)'] < days_before ]

In [277]:
exit_df = need_to_exit[['3.1 FirstName', '3.1 LastName', '5.8 Personal ID', '5.9 Household ID', '3.15 Relationship to HoH', 'CaseMembers', '3.10 Enroll Date', 'Date of Last ES Stay (Beta)']].copy()

In [278]:
#exit_df.head()

In [279]:
exit_df.to_excel('G:\My Drive\FPData\YTD Data\YTDexit_df.xlsx')

In [280]:
total_served = df['5.8 Personal ID']
len(total_served)

617

In [281]:
households = df['5.9 Household ID'].unique()
len(households)

197

In [282]:
# print total number of families served (unduplicated)
unique_households = df['5.9 Household ID'].nunique()
unique_households

197

In [283]:
#@title
# replace zeros in data with "Nan" to calculate more accurate average bednights 
df['Count of Bed Nights (Housing Check-ins)'] = df['Count of Bed Nights (Housing Check-ins)'].replace(0, np.NaN)

In [284]:
avg_bn = df['Count of Bed Nights (Housing Check-ins)'].mean()
avg_bn = round(avg_bn, 2)
avg_bn

40.44

In [285]:
df['3.12 Exit Destination'].value_counts()

Emergency shelter, including hotel or motel paid for with emergency shelter voucher, or RHY-funded Host Home shelter             130
Client refused                                                                                                                   111
Rental by client, no ongoing housing subsidy                                                                                      68
Rental by client, other ongoing housing subsidy                                                                                   41
Rental by client with RRH or equivalent subsidy                                                                                   36
Transitional Housing for homeless persons (including homeless youth)                                                              32
No exit interview completed                                                                                                       23
Place not meant for habitation (e.g., a vehicle, an abandoned building, bus/train/subway station/airport or anywhere outside)     22
Staying or living with family, temporary tenure (e.g., room, apartment or house)                                                  19
Staying or living with friends, temporary tenure (e.g., room, apartment or house)                                                 18
Staying or living with family, permanent tenure                                                                                   13
Hotel or Motel paid for without Emergency Shelter Voucher                                                                          4
Substance Abuse Treatment or Detox Center                                                                                          2
Foster Care Home or Foster Care Group Home                                                                                         1
Permanent housing (other than RRH) for formerly homeless persons                                                                   1
Owned by client, no ongoing housing subsidy                                                                                        1
Name: 3.12 Exit Destination, dtype: int64

In [286]:
#@title

exit_reasons = ['Rental by client with RRH or equivalent subsidy', 
                'Rental by client, no ongoing housing subsidy', 
                'Staying or living with family, permanent tenure', 
                'Rental by client, other ongoing housing subsidy',
                'Permanent housing (other than RRH) for formerly homeless persons', 
                'Staying or living with friends, permanent tenure', 
                'Owned by client, with ongoing housing subsidy',
                'Owned by client, no ongoing housing subsidy',
                'Staying or living with friends, permanent tenure', 
                'Rental by client, VASH housing Subsidy'
               ]

temp_reasons = ['Staying or living with family, temporary tenure (e.g., room, apartment or house)', 
               'Staying or living with friends, temporary tenure (e.g., room, apartment or house)', 
                
               ]

In [287]:
# drop rows with no exit destination (current guests at time of report)
df = df.dropna(subset=['3.12 Exit Destination'])

In [288]:
 # create target column (multiple types of exits to perm)
df['perm_leaver'] = df['3.12 Exit Destination'].isin(exit_reasons)

In [289]:
#df.head()

In [290]:
perm_leaver = df[df['perm_leaver'] == True]

In [291]:
total_perm = perm_leaver.perm_leaver.value_counts().sum()

In [292]:
total_perm

160

In [293]:
non_perm = df[df['perm_leaver'] == False]

In [294]:
total_non_perm = non_perm.perm_leaver.value_counts().sum()

In [295]:
total_non_perm

362

In [296]:
perm_percent = total_perm / total_non_perm

In [297]:
perm_percent = round(perm_percent, 2)*100
perm_percent

44.0

In [298]:
df['3.12 Exit Destination'].value_counts()

Emergency shelter, including hotel or motel paid for with emergency shelter voucher, or RHY-funded Host Home shelter             130
Client refused                                                                                                                   111
Rental by client, no ongoing housing subsidy                                                                                      68
Rental by client, other ongoing housing subsidy                                                                                   41
Rental by client with RRH or equivalent subsidy                                                                                   36
Transitional Housing for homeless persons (including homeless youth)                                                              32
No exit interview completed                                                                                                       23
Place not meant for habitation (e.g., a vehicle, an abandoned building, bus/train/subway station/airport or anywhere outside)     22
Staying or living with family, temporary tenure (e.g., room, apartment or house)                                                  19
Staying or living with friends, temporary tenure (e.g., room, apartment or house)                                                 18
Staying or living with family, permanent tenure                                                                                   13
Hotel or Motel paid for without Emergency Shelter Voucher                                                                          4
Substance Abuse Treatment or Detox Center                                                                                          2
Foster Care Home or Foster Care Group Home                                                                                         1
Permanent housing (other than RRH) for formerly homeless persons                                                                   1
Owned by client, no ongoing housing subsidy                                                                                        1
Name: 3.12 Exit Destination, dtype: int64

In [299]:
unknowns = ['Client refused', 'No exit interview completed']

In [300]:
unknown_df = df[df['3.12 Exit Destination'].isin(unknowns)]

In [301]:
unknown_exits = unknown_df['3.12 Exit Destination'].value_counts().sum()

In [302]:
unknown_exits

134

In [303]:
unknown_percent = unknown_exits / total_non_perm
unknown_percent = round(unknown_percent, 2) *100
unknown_percent

37.0

In [304]:
exits = df['3.12 Exit Destination'].value_counts().sum()
exits

522

In [305]:
exits = df['3.12 Exit Destination'].value_counts()

In [306]:
# take sum of ES and Trans exits and divide by total exits, then multiply by 100 to get percentage
esExits = exits['Emergency shelter, including hotel or motel paid for with emergency shelter voucher, or RHY-funded Host Home shelter'] 
#transExits = ((exits['Transitional Housing for homeless persons (including homeless youth)'] / exits.sum()) * 100)
# round the answer to nearest hundreth place
esExits = (round(esExits, 2))
#transExits = (round(transExits, 2))
esExits
#print('Exits to Transitional',transExits,'%')

130

In [307]:
tempExits = df['3.12 Exit Destination'].isin(temp_reasons).sum()

tempExits

37

In [308]:
transitional = df['3.12 Exit Destination'] == 'Transitional Housing for homeless persons (including homeless youth)'
transitional = transitional.sum()
transitional

32

In [309]:
exits.sum()

522

In [310]:
total_guests = total_non_perm + total_perm

In [311]:
trans_percent = (transitional / exits.sum())*100
trans_percent = round(trans_percent, 2)
trans_percent

6.13

In [312]:
#zips_master

In [313]:
# export zips into an excel sheet for Power BI visual
zips_master = pd.read_excel(r'C:\Users\jwyli\Downloads\uszips.xlsx')



# Import pandas library 
import pandas as pd 
  
# initialize list of lists 
zips_bi = df['V5 Zip'].value_counts().to_frame('Total').reset_index(level=0, inplace=False)
zips_bi = zips_bi.rename(columns={"index": "V5 Zip"})
zips_bi = zips_bi.merge(zips_master,on='V5 Zip')
zips_bi['V5 City'].value_counts()

Spokane                    10
Spokane Valley              4
Mountain Home               2
Ogden                       1
Pullman                     1
Hoodsport                   1
Cheney                      1
Hemet                       1
Veradale/Spokane Valley     1
Omak                        1
Milwaukee                   1
Sprague                     1
Tillamook                   1
Wellpinit                   1
Santa Rosa                  1
Browning                    1
Nampa                       1
Jensen Beach                1
Marrero                     1
South Bend                  1
Great Falls                 1
Medical Lake                1
Williston                   1
Chewelah                    1
Vancouver                   1
Colville                    1
Tacoma                      1
Salt Lake City              1
Everett                     1
Airway Heights              1
Bakersfield                 1
Greenacres                  1
Puyallup                    1
Kettle Falls                1
Windsor Mill                1
Lolo                        1
Kennewick                   1
Newport                     1
Celina                      1
Anderson                    1
Glendale                    1
Deer Park                   1
Name: V5 City, dtype: int64

In [314]:
type(zips_bi)

pandas.core.frame.DataFrame

In [315]:
zips_bi.to_excel('G:\My Drive\FPData\YTD Data\weeklyYTDzips.xlsx', header=True, index=False)

In [316]:
other_reasons = ['Place not meant for habitation (e.g., a vehicle, an abandoned building, bus/train/subway station/airport or anywhere outside)',
                 'Hotel or Motel paid for without Emergency Shelter Voucher', 'Other', 'Substance Abuse Treatment or Detox Center',
                 'Foster Care Home or Foster Care Group Home', 'Psychiatric Hospital or Other Psychiatric Facility']

In [317]:
df['3.12 Exit Destination'].value_counts()

Emergency shelter, including hotel or motel paid for with emergency shelter voucher, or RHY-funded Host Home shelter             130
Client refused                                                                                                                   111
Rental by client, no ongoing housing subsidy                                                                                      68
Rental by client, other ongoing housing subsidy                                                                                   41
Rental by client with RRH or equivalent subsidy                                                                                   36
Transitional Housing for homeless persons (including homeless youth)                                                              32
No exit interview completed                                                                                                       23
Place not meant for habitation (e.g., a vehicle, an abandoned building, bus/train/subway station/airport or anywhere outside)     22
Staying or living with family, temporary tenure (e.g., room, apartment or house)                                                  19
Staying or living with friends, temporary tenure (e.g., room, apartment or house)                                                 18
Staying or living with family, permanent tenure                                                                                   13
Hotel or Motel paid for without Emergency Shelter Voucher                                                                          4
Substance Abuse Treatment or Detox Center                                                                                          2
Foster Care Home or Foster Care Group Home                                                                                         1
Permanent housing (other than RRH) for formerly homeless persons                                                                   1
Owned by client, no ongoing housing subsidy                                                                                        1
Name: 3.12 Exit Destination, dtype: int64

In [318]:
other = df['3.12 Exit Destination'].isin(other_reasons)

In [319]:
other.sum()
other = other.sum()
other

29

In [320]:
df['4.04.7 Private - Employer']

0      No
1      No
2      No
3      No
4      No
       ..
569    No
589    No
590    No
592    No
593    No
Name: 4.04.7 Private - Employer, Length: 522, dtype: object

In [321]:
df['3.12 Exit Destination'].value_counts()

Emergency shelter, including hotel or motel paid for with emergency shelter voucher, or RHY-funded Host Home shelter             130
Client refused                                                                                                                   111
Rental by client, no ongoing housing subsidy                                                                                      68
Rental by client, other ongoing housing subsidy                                                                                   41
Rental by client with RRH or equivalent subsidy                                                                                   36
Transitional Housing for homeless persons (including homeless youth)                                                              32
No exit interview completed                                                                                                       23
Place not meant for habitation (e.g., a vehicle, an abandoned building, bus/train/subway station/airport or anywhere outside)     22
Staying or living with family, temporary tenure (e.g., room, apartment or house)                                                  19
Staying or living with friends, temporary tenure (e.g., room, apartment or house)                                                 18
Staying or living with family, permanent tenure                                                                                   13
Hotel or Motel paid for without Emergency Shelter Voucher                                                                          4
Substance Abuse Treatment or Detox Center                                                                                          2
Foster Care Home or Foster Care Group Home                                                                                         1
Permanent housing (other than RRH) for formerly homeless persons                                                                   1
Owned by client, no ongoing housing subsidy                                                                                        1
Name: 3.12 Exit Destination, dtype: int64

In [322]:
print(total_guests, 'total guests served YTD')
print(total_non_perm, 'total non perm leavers')
print(total_perm, 'total perm leavers')
print(esExits, 'total ES leavers')
print(tempExits, 'total temp leavers')
print(transitional, 'total trans leavers')
print(other, 'total leavers to "other"')
print(unknown_exits, 'total unknown leavers')
print('sum of all groups to make sure it matches total served:',total_perm+esExits+tempExits+transitional+other+unknown_exits)

522 total guests served YTD
362 total non perm leavers
160 total perm leavers
130 total ES leavers
37 total temp leavers
32 total trans leavers
29 total leavers to "other"
134 total unknown leavers
sum of all groups to make sure it matches total served: 522

In [323]:
total_perm+esExits+tempExits+transitional+other+unknown_exits

522

In [324]:
total_perm+total_non_perm

522

In [325]:
assert((total_guests) == (total_perm+esExits+tempExits+transitional+other+unknown_exits))

In [326]:
'''perm_bi = '{} %'.format(perm_percent)
es_bi = '{} %'.format(esExits)
temp_bi = '{} %'.format(tempExits)
trans_bi = '{} %'.format(trans_percent)
unknown_bi = '{} %'.format(unknown_percent)'''

"perm_bi = '{} %'.format(perm_percent)\nes_bi = '{} %'.format(esExits)\ntemp_bi = '{} %'.format(tempExits)\ntrans_bi = '{} %'.format(trans_percent)\nunknown_bi = '{} %'.format(unknown_percent)"

In [327]:
'''power_bi = pd.DataFrame({'Permanent Leavers': total_perm, 'Emergency Shelter Leavers': esExits, 
                         'Temporary Leavers': tempExits, 'Transitional Leavers': transitional, 
                         'Unknown Leavers': unknown_exits, 'Other Leavers': other, 'Total': total_guests }, index=[0])'''

"power_bi = pd.DataFrame({'Permanent Leavers': total_perm, 'Emergency Shelter Leavers': esExits, \n                         'Temporary Leavers': tempExits, 'Transitional Leavers': transitional, \n                         'Unknown Leavers': unknown_exits, 'Other Leavers': other, 'Total': total_guests }, index=[0])"

In [328]:
# Import pandas library 
import pandas as pd 
  
# initialize list of lists 
data = [['Permanent Leavers', total_perm], ['Emergency Shelter Leavers', esExits], 
        ['Temporary Leavers', tempExits], ['Transitional Leavers', transitional],
        ['Unknown Leavers', unknown_exits], ['Other Leavers', other]] 
  


# Create the pandas DataFrame 
power_bi = pd.DataFrame(data, columns = ['Exit Destination', 'Total']) 
  
# print dataframe.

In [329]:
power_bi

            Exit Destination  Total
0          Permanent Leavers    160
1  Emergency Shelter Leavers    130
2          Temporary Leavers     37
3       Transitional Leavers     32
4            Unknown Leavers    134
5              Other Leavers     29

In [330]:
power_bi.Total.sum()

522

In [331]:
power_bi.to_excel('G:\My Drive\FPData\YTD Data\YTDweeklyDataNew.xlsx')

In [332]:
df['3.12 Exit Destination'].value_counts().sum()

522

In [333]:
assert(power_bi.Total.sum() == df['3.12 Exit Destination'].value_counts().sum())